<!--  @if (!showNavLeft) {
    <a  class="navbar-brand animated " [routerLink]="['home']"><img alt="logo sistema" class="img-fluid logoNav" src="assets/img/logo/logoadmin.png"></a>
  }-->
  
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        @if (!showNavLeft) {
          <a  class="navbar-brand animated " [routerLink]="['home']"><img alt="logo sistema" class="img-fluid logoNav" src="assets/img/logo/logoadmin.png"></a>
        }
        <button mat-raised-button (click)="ocultarMenu()" class="rounded-pill text-center">
          @if (showNavLeft) {
            <mat-icon class="p-0 m-0">menu_open</mat-icon>
          } @else {
            <mat-icon class="p-0 m-0">menu</mat-icon>
          }
        </button>
        @if(!fullScreenGestor){
          <button mat-raised-button class="rounded-pill text-center custom-button" (click)="openFullscreen()"><mat-icon class="custom-icon">fullscreen</mat-icon></button>
        } @else {
          <button mat-raised-button class="rounded-pill text-center custom-button" (click)="closeFullscreen()"><mat-icon class="custom-icon">fullscreen_exit</mat-icon></button>
        }
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <div class="d-flex">
            <button mat-raised-button [matMenuTriggerFor]="menuConfig" class="btn-config rounded-pill">Usuario <mat-icon>settings</mat-icon></button>
            <mat-menu #menuConfig="matMenu" xPosition="after" class="bg-dark">
              <button mat-menu-item class="text-white"><mat-icon class="text-danger">power_settings_new</mat-icon> Cerrar Sesión</button>
            </mat-menu>
          </div>
        </div>
      </div>
    </nav>
<!-- 
    <nav class="navbar navbar-light border-bottom border-body navbar-expand-sm sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    @if (!showNavLeft) {
      <a  class="navbar-brand animated " [routerLink]="['home']"><img alt="logo sistema" class="img-fluid logoNav" src="assets/img/logo/logoadmin.png"></a>
    }
    <button type="button" mat-icon-button (click)="ocultarMenu()">
      <mat-icon class="animated "  matTooltip="Mostrar Menú">menu</mat-icon>
    </button>
    @if(!fullScreenGestor){
      <button type="button" mat-icon-button (click)="openFullscreen()" matTooltip="Aplicar Modo Pantalla Completa">
        <mat-icon>fullscreen</mat-icon>
      </button>
    }

    @if (fullScreenGestor) {
      <button type="button" mat-icon-button (click)="closeFullscreen()" matTooltip="Cerrar Modo Pantalla Completa">
        <mat-icon>fullscreen_exit</mat-icon>
      </button>
    }
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <button mat-button id="btnMenuUser" class="text-center" [matMenuTriggerFor]="menuUser">
              <mat-grid-list cols="3" rowHeight="20px">
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <mat-icon>arrow_drop_down</mat-icon>
                    <mat-icon class="font-size-32px mb-2">admin_panel_settings</mat-icon>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  Bienvenido
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <span class="text-truncate"><strong>HACKER</strong></span>
                </mat-grid-tile>
              </mat-grid-list>
            </button>
            <mat-menu #menuUser xPosition="after" class="bg-dark">
                <button mat-menu-item class="text-white"><mat-icon class="text-danger">power_settings_new</mat-icon>
                 Cerrar Sesión</button>
            </mat-menu>
        </div>
    </div>
  </div>
</nav>
-->