.logoNav {
  height: 35px !important;
  width: 264px !important;
}

.mat-mdc-menu-content{
  padding: 0px !important;
}
.bg-body-tertiary{
  background-color: rgb(241, 241, 241) !important;
  border-bottom: black !important;
}

.btn-config{
  background-color: rgba(255, 255, 255, 0.363) !important;
  font-size: 16px !important;
}

.custom-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  line-height: 40px !important;
  height: 100px !important;
  width: 100px !important;

}

.custom-icon {
  font-size: 30px !important;
  vertical-align: middle !important;
  height: 100px !important;
  width: 100px !important;
}