table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.div-fijo-scroll {
  position: -webkit-sticky;
  /* Para navegadores basados en WebKit */
  position: sticky;
  top: 50px;
  /* Mismo valor que la altura de la barra de navegación */
}

.icon-info {
  padding-top: 1.1px;
}

#actions {
  width: 200px !important;
}

/* styles.scss o el archivo SCSS correspondiente a tu componente */
.table-row {
  font-size: 12px;
}

.table-row:hover {
  background-color: #eef6f798;
  /* Cambia este color según tus necesidades */
  cursor: pointer;
  /* Cambia el cursor a una mano para indicar que se puede hacer clic */
}

mat-chip-option {
  height: 20px;
}