<svg width="400px" height="800px" viewBox="0 0 837 1245" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
      <path
          d="M353,9 L626.664028,170 L626.664028,487 L353,642 L79.3359724,487 L79.3359724,170 L353,9 Z"
          id="Polygon-1"
          stroke="#007FB2"
          stroke-width="10"
          sketch:type="MSShapeGroup"
          transform="translate(100, 100)"
      ></path>
      <path
          d="M78.5,579 L147,619.186414 L147,698.311216 L78.5,737 L10,698.311216 L10,619.186414 L78.5,579 Z"
          id="Polygon-2"
          stroke="#EF4A5B"
          stroke-width="10"
          sketch:type="MSShapeGroup"
          transform="translate(100, 100)"
      ></path>
      <path
          d="M773,236 L827,267.538705 L827,329.636651 L773,360 L719,329.636651 L719,267.538705 L773,236 Z"
          id="Polygon-3"
          stroke="#795D9C"
          stroke-width="10"
          sketch:type="MSShapeGroup"
          transform="translate(100, 100)"
      ></path>
      <path
          d="M689,579 L823,657.846761 L823,813.091627 L689,889 L555,813.091627 L555,657.846761 L689,579 Z"
          id="Polygon-4"
          stroke="#F2773F"
          stroke-width="10"
          sketch:type="MSShapeGroup"
          transform="translate(100, 100)"
      ></path>
      <path
          d="M331,851 L433,911.025276 L433,1029.21169 L331,1087 L229,1029.21169 L229,911.025276 L331,851 Z"
          id="Polygon-5"
          stroke="#36B455"
          stroke-width="10"
          sketch:type="MSShapeGroup"
          transform="translate(100, 100)"
      ></path>
  </g>
</svg>
<div class="message-box text-center">
  <section class="bienvenido-container">
    <span class="text-shadow">Bienvenido</span>
  </section>
  <p class="zoom-area">
   <b class="text-muted"> Utileria para el area de remediaciones de vulnerabilidades.</b>
  </p>
</div>