<h2 mat-dialog-title class="bg-dark bg-gradient text-white"><b>Detalle de la configuracion #{{ data.content_configuration_id }}<span
      class="badge text-bg-secondary">v{{ data.version }}</span>:</b></h2>
<mat-dialog-content class="pt-3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <p><strong>Method:</strong><br> {{ valueObject?.type }}</p>
      </div>
      <div class="col-6 text-center">
        @if (endpointFormat) {
        <p><strong>Endpoint:</strong><br> {{ endpointFormat }}</p>
        }
      </div>
      <div class="col-12">
        <hr>
      </div>
      <div class="col-4">
        <p><strong>Name:</strong> {{ data.name }}</p>
      </div>
      <div class="col-4">
        <p><strong>Application:</strong> {{ data.type }}</p>
      </div>
      <div class="col-4">
        <p><strong>Category:</strong> {{ data.category }}</p>
      </div>
      <div class="col-12 text-center">
        <pre><strong>Value:</strong><code>{{ data.value }}</code></pre>
      </div>
      <div class="col-12">
        @if(data.created_by){
        <p><strong>Creado por:</strong> {{ data.created_by }}, el {{ dateCreateFormat }}.</p>
        }
      </div>
      <div class="col-12">
        @if(data.change_date){
        <p><strong>Ultima Actualización:</strong> El {{ dateUpdateFormat }}, por {{ data.changed_by }}</p>
        }
      </div>
    </div>
  </div>
</mat-dialog-content>
<hr>
<mat-dialog-actions class="justify-content-center">
  <button mat-raised-button mat-dialog-close class="mb-2">OK</button>
</mat-dialog-actions>